@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Roboto", sans-serif;
}

.hide {
  display: none !important;
}

#book-manager-title {
  color: #263D57;
  font-size: 28px;
  text-align: center;
  margin-bottom: 32px;
}

#add-book-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#book-title-input, #book-author-input, #book-category-select, #add-book-button {
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 8px;

  font-size: 16px;
}

#book-category-select {
  background-color: lightgray;
}

#add-book-button {
  background-color: dodgerblue;
  border: none;

  cursor: pointer;

  color: white;
}

#my-books-title {
  margin-top: 32px;
}

#my-books-list {
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.my-book-item {
  background-color: #F8F9FA;
  padding: 16px;
  border-radius: 8px;
  border-left: 4px solid dodgerblue;
}

.my-book-title {
  margin-top: 0;
  margin-bottom: 8px;
  color: #263D57;
}

.my-book-author {
  display: block;
  font-weight: bold;
  color: dimgray;
}

.my-book-category {
  display: block;
  margin-top: 4px;
  color: gray;
}